  
/*Remeber: # is for ids; . for clases and the rest for generic section like bodies or h3*/


/*nav-bar css */
.navbar-custom { 
    background-color: lightskyblue; 
}

.navbar_image {
    width: 10%;
    height: auto;
}


