.NavigationItem {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  font-family: 'Arvo', serif;
}

.NavigationItem a {
  color: #bbe1fa;
  text-decoration: none;
}